.main-banner{
    background-image: url(../img/banner_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 442px;
}
.main-banner-bg{
    background-color: rgba(0, 0, 0, 0.5);
    height: inherit;
}
.main-banner-bg__content{
    max-width: 1170px;
    margin: auto;
}
.main-banner-bg__content_title{
    font: 400 36px 'Raleway', sans-serif;
    color: white;
    text-align: center;
    padding-top: 107px;
}
.main-banner-bg__content_line{
    width: 170px;
    margin: auto;
    border: none;
	border-top: 1px solid white;
    margin-top: 57px;
}
.main-banner-bg__content_subtitle{
    font: 400 18px 'Raleway', sans-serif;
    color: white;
    text-align: center;
    margin-top: 40px;
}
.main-banner-bg__content__button{
    display: flex;
    justify-content: center;
}
.main-banner-bg__content__button_none{
    width: 270px;
    height: 58px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 73px;
}
.main-banner-bg__content__button_none:hover{
    color: rgba(236, 121, 121, 1);
    border-color: rgba(236, 121, 121, 1);
}
.main-banner-bg__content__button_none:active{
    background-color: rgba(171, 73, 73, 1);
    color: white;
    border-color: rgba(171, 73, 73, 1);
}
@media (max-width: 1024px){
    .main-banner{
        height: 358px;
    }
    .main-banner-bg__content_title{
        font-size: 24px;
        padding-top: 98px;
    }
    .main-banner-bg__content_line{
        width: 142px;
        margin-top: 48px;
    }
    .main-banner-bg__content_subtitle{
        font-size: 14px;
        margin-top: 32px;
    }
    .main-banner-bg__content__button_none{
        width: 318px;
        margin-top: 32px;
    }
}
@media (max-width: 750px){
    .main-banner-bg__content_title{
        padding-top: 48px;
    }
    .main-banner-bg__content_line{
        width: 134px;
    }
    .main-banner-bg__content_subtitle{
        margin-top: 16px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .main-banner-bg__content__button_none{
        width: 287px;
        margin-top: 32px;
    }
}
