.footer{
    background-color: black;
    display: flex;
    padding-bottom: 27px;
    align-items: center;
    flex-direction: column;
}
.footer__links{
    padding-top: 35px;
}
.footer__links_icon{
    margin: 0px 17.5px 0px 17.5px;
}
.footer__links_img{
    max-width: 54px;
    width: 100%;
    max-height: 54px;
    height: 100%;
}
.footer_subtitle{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 35px;
}
@media (max-width: 1024px){
    .footer__links_img{
        max-width: 45px;
        max-height: 45px;
    }
    .footer_subtitle{
        font-size: 14px;
    }
}
@media (max-width: 750px){
    .footer__links{
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .footer__links_icon{
        margin: 0;   
    }
    .footer__links_img{
        max-width: 26px;
        max-height: 26px;
    }
}