*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/* ______________________________________________________ */

.container{
    max-width: 1170px;
    margin: auto;
}
.awesome{
    text-align: center;
    margin: 50px 15px;
}
.awesome__title{
    height: 150px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    padding-top: 57px;
    padding-bottom: 57px;
}
.awesome__border{
    width: 170px;
    margin: auto;
    border: none;
	border-top: 1px solid rgba(236, 121, 121, 1);
}
.awesome__subtitle{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(134, 135, 139, 1);
    margin-top: 40px;
}
.awesome__content__blocks{
    display: inline-block;
    width: 370px;
    height: 383px;
    margin-top: 71px;
}
.awesome__content__blocks_title{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    width: 369px;
    height: 100px;

}
.awesome__content__blocks_subtitle{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 8px;
    height: 105px;
    padding: 0px 30px 0px 30px;
}

/* --------------------------------------- */

.tabs__table{
    border-collapse: collapse;
}
.tabs__table_td{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(51, 51, 51, 1);
    line-height: 19px;
    width: 203px;
    height: 40px;
    text-align: center;
    border-bottom: solid 1px rgba(198, 203, 205, 1);
}
.tabs__table_act{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(51, 51, 51, 1);
    line-height: 19px;
    width: 203px;
    height: 40px;
    text-align: center;
    border-top: solid 1px rgba(198, 203, 205, 1);
    border-left: solid 1px rgba(198, 203, 205, 1);
    border-right: solid 1px rgba(198, 203, 205, 1);
    
}
.tabs__table_empty{
    width: 561px;
    height: 40px;
    border-bottom: solid 1px rgba(198, 203, 205, 1);
}
.content__text{
    display: inline-block;
    width: 50%;
    margin-left: 100px;
}
.content__text_title{
    font-weight: 700;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    width: 570px;
    height: 124px;
    padding-top: 47px;
}
.content__text_subtitle{
    font-weight: 400;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    line-height: 21px;
    margin-top: 27px;
}
.content__text_button{
    margin-top: 27px;
    width: 270px;
    height: 58px;
    background-color: rgba(236, 121, 121, 1);
    color: white;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.content__img{
    display: inline-block;
    margin-left: 10px;

}
.content{
    border: solid 1px rgba(198, 203, 205, 1);
    border-top: none;
}