.list{
    background-color: olive;
    border-radius: 10px;
    padding: 0px;
}
.text{
    color: white;
    border-bottom: solid 1px white;
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
}